<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.b1.member.MemberMapper">
  <!-- insert -->
  <insert id="memberJoin" parameterType="com.iu.b1.member.MemberVO">
  	INSERT INTO members 
  	VALUES(
  		#{id}, #{pw}, #{name}, #{email}
  	)
  </insert>
  <!-- id Check -->
  <select id="memberCheckId" resultType="com.iu.b1.member.MemberVO">
  	SELECT id FROM members
  	WHERE id = #{id}
  </select>
  <!-- login -->
  <resultMap type="com.iu.b1.member.MemberVO" id="Login">
		<id column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<association property="memberFilesVO" javaType="com.iu.b1.member.MemberFilesVO">
			<id column="fnum" property="fnum"/>
			<result column="fname" property="fname"/>
			<result column="oname" property="oname"/>
		</association>
	</resultMap>
	
	<select id="memberLogin" resultMap="Login" parameterType="com.iu.b1.member.MemberVO">
		SELECT * FROM members m
		INNER JOIN memberfiles f
		ON m.id = f.id
		WHERE m.id = #{id} AND m.pw = #{pw}
	</select>
  </mapper>