<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.iu.b1.member.MemberFilesMapper">
  
	<insert id="memberFilesInsert" parameterType="com.iu.b1.member.MemberFilesVO">
		insert into memberFiles(id, fname, oname) values(#{id}, #{fname}, #{oname})
	</insert>
	
	<select id="memberFilesSelect" parameterType="com.iu.b1.member.MemberFilesVO" resultType="com.iu.b1.member.MemberFilesVO">
		select * from memberFiles where fnum=#{fnum}
	</select>
  	
  
  </mapper>
